#main_page_div(style="text-align:center; width:90%; max-width:100%;")
  =render 'top_menu'
  .float-left
    %h2
      <b>Контакты</b>
      %br
      Mail:
      %br
      Skype:
      %br
      Телефон: 8(916)541-7066
  =image_tag 'contacts.png', size:'570x430', style:'width:570px; float:none; margin: 0 auto; text-align:center'